extends layout

block content
  h1 Transaction View
  p Welcome to the #{title}
  a(href="/") Home.
  table(border=1)
    tr
      th id
      th account_id
      th transfer_id
      th transaction_type
      th transaction_type_details
      th subject
      th amount
      th remote_name
      th remote_iban
      th remote_bic
      th remote_fidor_id
      th cc_merchant_name
      th cc_merchant_category
      th cc_type
      th cc_category
      th booking_date
      th value_date
      th booking_code
      th eref
      th return_transaction_id
      th external_ref
      th created_at
      th updated_at
    each tx in transactions
      tr
        td= tx.id
        td= tx.account_id
        td= tx.transfer_id
        td= tx.transaction_type
        td= tx.transaction_type_details
        td= tx.subject
        td= tx.amount
        td= tx.remote_name
        td= tx.remote_iban
        td= tx.remote_bic
        td= tx.remote_fidor_id
        td= tx.cc_merchant_name
        td= tx.cc_merchant_category
        td= tx.cc_type
        td= tx.cc_category
        td= tx.booking_date
        td= tx.value_date
        td= tx.booking_code
        td= tx.eref
        td= tx.return_transaction_id
        td= tx.external_ref
        td= tx.created_at
        td= tx.updated_at
